<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="input-group field">
        <%= f.text_field :email, :class => "form-control", :placeholder => "Email address" %>
        <%= f.hidden_field :code %>
        <span class="input-group-btn">
          <%= f.submit "Notify me", :class => "btn btn-success signup" %>
        </span>
      </div>
    </div>
  </div>
<% end %>

