<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <p class="text"><i>We got you, thanks for signing up!</i> <% if @user.count %>Your referral count is <%= @user.count %>.<% else %>Help spread the word about BuyStartups.co by sharing your referral URL below.<% end %></p>
    <p class="text">
      Link: <a href="#"><%= "#{root_url}?code=#{@user.code}" %></a><br />
      <a href="https://twitter.com/intent/tweet?counturl=http://wwww.roadsidely.com/&related=buystartups&url=<%=u "#{root_url}?code=#{@user.code}"%>&text=I+just+signed+up+for+@BuyStartups,+a+marketplace+for+buying+and+selling+startups.+Join+me+at&" class="btn share twitter" target="_blank"><img src="/assets/twitter.png" style="margin-right:10px;height:20px;">Tweet</a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%=u "#{root_url}?code=#{@user.code}"%>" class="btn share facebook" target="_blank"><img src="/assets/facebook.png" style="margin-right:10px;height:20px;">Post</a>
      <a href="https://plus.google.com/share?url=<%= "#{root_url}?code=#{@user.code}" %>" onclick="javascript:window.open(this.href,
        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn share googleplus"><img src="/assets/gplus.png" style="margin-right:10px;height:20px;">Share</a>
      </p>
  </div>
</div>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6009061341130';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009061341130&amp;value=0&amp;currency=USD" /></noscript>